polkit.addRule(function(action, subject) {
    if ((action.id === "org.freedesktop.NetworkManager.network-control" ||
         action.id === "org.freedesktop.NetworkManager.settings.modify.system") &&
        subject.isInGroup("netdev")) {
        return polkit.Result.YES;
    }
});
